<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/about.css')%>" />
<div class="about-page">
	<div class="currentLocation">
		首页>关于葡萄
	</div>
	<div class="contact_bg">

	</div>
	<div class="bgcolor">
		<h2>创业理念</h2>
		<p>
			科技不应只是成人的专利，作为互联网的原住民，孩子们的成长更应得到科技最前沿的馈赠。<br> 我们带给孩子更丰富的、健康安全的产品体系，为孩子提供更好的全方位的童年生活；
			<br> 输出正确的价值观，帮助孩子塑造更好的人格；
			<br> 搭建父母与孩子之间的桥梁，让父母更好的陪伴孩子的成长。

		</p>
		<div class="contact_bg1">

		</div>
		<h2>团队文化</h2>
		<div class="contact_bg2">

		</div>
		<div class="textList">
			<dl>
				<dt>创新</dt>
				<dd>
					探索前沿科技<br>
为孩子创造全新的产品和未来！
				</dd>
			</dl>
			<div>
				<span></span>
			</div>
			<dl>
				<dt>勤奋</dt>
				<dd>
不断学习，时刻保持高效<br>
坚持不懈的追求卓越！
				</dd>
			</dl>
			<div>
				<span></span>
			</div>
			<dl>
				<dt>犀利</dt>
				<dd>
对事物保持敏锐的洞察力<br>
以精准独特的视角洞悉用户需求！
				</dd>
			</dl>
			<div>
				<span></span>
			</div>
			<dl>
				<dt>厚道</dt>
				<dd>
肩负对儿童健康成长的使命<br>
坚持安全可靠的品质<br>
踏实谦逊，以诚践行！
				</dd>
			</dl>
		</div>
	</div>
</div>
<% include ./footer.ejs %>