<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/applyjoin.css')%>" />
<!--<link rel="stylesheet" href="css/applyjoin.css" />-->
<div class="page-applyjoin">
	<div class="page-applyjoin-bg1"></div>
	<div class="page-applyjoin-w">
		<div class="page-applyjoin-t">葡萄乐园</div>
		<div class="page-applyjoin-t page-applyjoin-mt">开放首批加盟店</div>
		<p class="page-applyjoin-text" style="margin-top: 50px;">儿童科技行业领导者，<span class="page-applyjoin_color1">研发团队400人</span></p>
		<p class="page-applyjoin-text">2017年计划<span class="page-applyjoin_color1">全国扶持20家葡萄乐园</span></p>
		<p class="page-applyjoin-text"><span class="page-applyjoin_color1">50%</span>以上销售利润，装修费<span class="page-applyjoin_color1">全额报销</span></p>
		<p class="page-applyjoin-text"><span class="page-applyjoin_color1">送10万开业礼包</span></p>
		<div class="page-applyjoin-t" style="margin-top: 50px;">行业趋势</div>
		<div class="page-applyjoin-text1">
			<dl> 
				<dt>人口红利</dt>
				<dd>二胎政策，会引爆中国人口再一次爆发性的增长</dd>
			</dl>
			<dl>
				<dt>陪伴趋势</dt>
				<dd>中国家庭结构由4-2-1向4-2-2转变，儿童消费力日趋强大</dd>
			</dl>
			<dl>
				<dt>收入增长</dt>
				<dd>中产阶级人群由9.4%上升至29.2%，他们更愿意为孩子的教育进行投资</dd>
			</dl>
		</div>
	</div>
	<div class="page-applyjoin-bg2" style="margin-top: 50px;"></div>
	<div class="page-applyjoin-w1" style="width: 1200px;margin-left: auto;margin-right: auto;">
		<div class="w1w">
			<div class="page-applyjoin-t1">中国市场潜力</div>
		</div>
		<div class="page-applyjoin-bg3"></div>
		<div class="w1w">
			<div class="page-applyjoin-t1" style="width: 700px;margin-top: 50px;">中国科技玩具发展趋势</div>
		</div>
		<div class="page-applyjoin-bg4"></div>
		<div class="w1w">
			<div class="page-applyjoin-t1" style="width: 600px;">葡萄乐园生态模型</div>
		</div>
		<div class="page-applyjoin-bg5"></div>
	</div>
	<div class="w1w">
		<div class="page-applyjoin-t1 page-applyjoin-t1_1" style="margin-top: 50px;">葡萄乐园</div>
	</div>
	<div class="page-applyjoin-bg6"></div>
	<div class="page-applyjoin-w2" style="margin-top: 50px;">
		<p class="page-applyjoin-text">葡萄乐园</p>
		<p class="page-applyjoin-text">大型互动科技体验乐园</p>
		<div class="page-applyjoin-text2">
			葡萄乐园是我们精心筹划的线下大型互动多人科技体验中心，是集“科技展示、互动体验、产品营销”为一体的IP主题式乐园，它不仅承载着葡萄科技生态体系活动，也是用户服务及第三方合作发展的重要基地。
		</div>
		<div class="page-applyjoin-text2">
			葡萄乐园将成为用户接触葡萄科技的一线阵地，孩子们可以在未来感十足的乐园里玩着高科技产品，看着正能量满满的动画，与葡星伙伴们成为最密切的朋友。
		</div>
		<div class="page-applyjoin-text2">
			2017年3月，葡萄乐园开放招募首批加盟门店。
		</div>
	</div>
	<div class="page-applyjoin-bg7"></div>
	<div class="page-applyjoin-t2">
		<p>加盟商要求</p>
	</div>
	<div class="page-applyjoin-text3">
		<p><span>高目标客流位置的店铺</span></p>
		<p><span>接受葡萄加盟店门店标准</span></p>
		<p><span>有周转资金或相应资源</span></p>
		<p><span>热爱儿童行业</span></p>
	</div>
	<div class="page-applyjoin-t2" style="margin-top: 50px;">
		<p>加盟流程</p>
	</div>
	<div class="page-applyjoin-text3">
		<p><span>高目标客流位置的店铺</span></p>
		<p><span>接受葡萄加盟店门店标准</span></p>
		<p><span>有周转资金或相应资源</span></p>
		<p><span>热爱儿童行业</span></p>
	</div>
	<div style="text-align:center;margin-top:100px">
		<div class="page-applyjoin-t">葡萄乐园</div>
		<div class="page-applyjoin-t">2017年规划</div>
	</div>
	<div class="page-applyjoin-bg8">
	</div>
	<div class="page-applyjoin-text4">
		战略规划：Top50城市覆盖<br>
自建直营：北京、上海、杭州、广州、深圳<br>
合作加盟：省会城市、二三级经济活跃城市<br>
服务体系：以上海为中心，全国建立销售管理四大区，9个省级专区，承载对全国市场的服务与支持

	</div>
	<div class="page-applyjoin-t2" style="margin-top: 150px;">
		<p>免费索取加盟手册</p>
	</div>
	<div class="page-applyjoin-w3">
		<div class="page-applyjoin-text4" style="width: 100%;">
			上海葡缇文化传播有限公司<br>
			公司地址：上海闵行区田林路1016号科技绿洲三期10号楼<br>
			邮政编码：200233<br>
			加盟热线：400-920-6161
		</div>
		<form id="form" class="page-applyjoin-form" action="/invest_apply" method="post">
			<div>
				<input name="name" placeholder="*姓名"/>
			</div>
			<div>
				<input name="gender" value="0" style="display: none;" id="j-input" />
				<div class="ridio" id="j-ridio">
					<div class="on" data-text="0">
					先生
				</div>
				<div data-text="1">
					女士
				</div>
				</div>
			</div>
			<div>
				<input name="mobile" placeholder="*电话" />
			</div>
			<div style="display: none;">
				<input name="email" placeholder="QQ/Email" />
			</div>
			<div>
				<input name="place" placeholder="加盟地区" />
			</div>
			<div>
				<textarea name="advice">留言</textarea>
			</div>
			<div>
				<button id="submitForm">信息提交</button>
			</div>
			<div style="text-align: center;padding-bottom: 50px;color: #999;">
				申请提交后24小时内我们将与您取得联系
			</div>
		</form>
	</div>
</div>
<script src="<%=helpers.staticurl('/js/lib/jquery.min.js')%>"></script>
<script>
	(function(){
		
		var $ridio = $('#j-ridio');
		var $input = $('#j-input');
		var $ridiv_div = $ridio.find('div');
		$ridiv_div.on('click',function(){
			$(this).siblings().removeClass('on');
			$input[0].value = $(this).data('text');
			$(this).addClass('on');
		})
		
		var _submit = $('#submitForm');
		var _form = $('#form');
		_submit.on('click', function() {
			if($('[name="name"]').val().trim() === '') {
				alert('姓名为必填项');
				return false;
			} else if($('[name="mobile"]').val().trim() === '') {
				alert('电话为必填项');
				return false;
			}
			_form.submit();
			alert('申请成功');
		})
	})();
</script>
<% include ./footer.ejs %>