<% include ./header.ejs %>
<link rel="stylesheet" href="../css/attractInvestment.css" />
<div class="join-page">
	<div class="currentLocation">
		首页>品牌招商
	</div>
	<div class="contact_bg">

	</div>
	<h2>战略推广合作</h2>
	<ul>
		<li>
			<dl>
				<dt>开心麻花儿童剧活动</dt>
				<dd>
					2016年1月24日，葡萄科技进驻开心麻花儿童剧剧场，举行线下科技互动体验活动，吸引前来观剧的孩子们体验葡萄科技的产品，现场展示了 “葡萄探索号”系列的热门产品，小朋友们争相排队体验互动，同时，玩中学习的理念，也深 受家长的肯定，并给予葡萄科技系列产品：“葡萄探索号”高度 的赞赏，现场极具人气。儿童剧与科技产品的一次全新的组合。
				</dd>
			</dl>
		</li>
		<li>
			<dl style="background: url(../images/attractInvestment/h2.jpg) no-repeat;">
				<dt>晶品活动</dt>
				<dd>2016年5月26日，上海葡萄科技携手爱宝玩亲子乐园在上海静安寺 晶品时尚购物中心1楼中庭举办为期三天的AR技术创意儿童科技嘉 年华活动，吸引大批孩子前来体验葡萄科技的产品，现场展示了 “葡萄探索号”系列的热门产品，其中麦斯丝和淘淘向右走被追 捧，小朋友们争相排队体验互动，同时，玩中学习的理念，也深 受家长的肯定，并给予葡萄科技系列产品：“葡萄探索号”高度 的赞赏，现场极具人气。</dd>
			</dl>
		</li>
	</ul>
	<h2>媒体资源</h2>
	<ul>
		<li>
			<dl style="background: url(../images/attractInvestment/h3.jpg) no-repeat;">
				<dt>葡萄科技Q1新品发布会</dt>
				<dd>
					1月23日，葡萄科技2016年Q1新品发布会暨嘉年华在上海科技馆成功举行。现场发布了麦斯丝、Hello 编程、哈泥海洋和涂涂世界四款产品，并针对数以百计的粉丝家庭举办了盛大的亲子嘉年华。
				</dd>
			</dl>
		</li>
		<li>
			<dl style="background: url(../images/attractInvestment/h4.jpg) no-repeat;">
				<dt>葡萄科技Q2新品发布会</dt>
				<dd>
					2016年5月18日，“现在串联未来”2016Q2葡萄科技新品发布会举行，现场发布了一款科技感与趣味性深度融合的儿童科技产品——奇妙电路，为在场来宾开启了一个“见，所未见”的物理科学启蒙世界。
				</dd>
			</dl>
		</li>
	</ul>
	<h2>品牌合作</h2>
	<ul>
		<li>
			<dl style="background: url(../images/attractInvestment/h5.jpg) no-repeat;">
				<dt>金宝贝活动</dt>
				<dd>
					葡萄科技联合金宝贝举办线下亲子体验活动
				</dd>
			</dl>
		</li>
		<li>
			<dl style="background: url(../images/attractInvestment/h6.jpg) no-repeat;">
				<dt>琦健身活动</dt>
				<dd>
					葡萄科技进驻上海琦健身儿童部
				</dd>
			</dl>
		</li>
	</ul>
	<h2>葡萄科技合作优势
</h2>
	<div class="contact_bg1">
		
	</div>
</div>

<script type="text/javascript" src="js/attractInvestment.js"></script>
</body>

</html>
<% include ./footer.ejs %>