<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/idangerous.swiper.css')%>">
<link rel="stylesheet" href="http://static.putaocdn.com/store/front/css/bootstrap.css"/>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/carnival.css')%>">
<!--<link rel="stylesheet" href="/css/carnival.css">-->
<link rel="stylesheet" href="http://static.putaocdn.com/store/front/css/conference.css" />
<link rel="stylesheet" href="http://static.putaocdn.com/store/front/css/conference2016q2.css" />
<style>
	a:hover{
		text-decoration: none;
	}
</style>
<div class="content-main">
	<div class="main-banner">
	</div>
	<div class="anchor-nav">
		<div class="anchor-nav-inner">
			<div class="nav-item active">
				<a href="#t1">
					<span class="nav-item-txt">
                        <div class="btn_play"></div>
                        发布会视频
                    </span>
				</a>
			</div>
			<div class="nav-item">
				<a href="#t2">
					<span class="nav-item-txt">
                        <div class="icon_forchild"></div>
                        为孩子创造
                    </span>
				</a>
			</div>
			<div class="nav-item">
				<a href="#t3">
					<span class="nav-item-txt">
                        <div class="icon_explore"></div>
                        产品体验
                    </span>
				</a>
			</div>
			<div class="nav-item">
				<a href="#t4">
					<span class="nav-item-txt">
                        <div class="icon_news"></div>
                        媒体报道
                    </span>
				</a>
			</div>
			<div class="nav-item">
				<a href="#t5">
					<span class="nav-item-txt">
                        <div class="icon_camera"></div>
                        花絮内容
                    </span>
				</a>
			</div>
		</div>
	</div>
	<div class="co-cont">
		<div class="co-cont-inner">
			<div class="co-videos">
				<div class="co-title">
					<a name="t1"></a>
					<img src="http://static.putaocdn.com/store/front/images/conference2016q2/img_title_01.png">
				</div>
				<div class="video-cont">
					<img src="http://static.putaocdn.com/store/front/images/conference2016q2/pohot_video_01.jpg">
					<div class="icon_video_l" name="play_btn"></div>
				</div>
				<div class="timeline">
					<img src="http://static.putaocdn.com/store/front/images/conference2016q2/img_timeline.png">
				</div>
			</div>
			<div class="co-game">
				<a name="t2"></a>
				<div class="co-title">
					<img src="http://static.putaocdn.com/store/front/images/conference2016q2/img_title_02.png">
				</div>
				<div class="co-subtitle">
					<!--<h3>一切从孩子出发 为孩子创造！</h3>-->
					<p>2016年5月18日，一场以“现在 串联未来”为主题的Q2新品发布会在新落成的葡萄大楼举办。</p>
					<p>在充满奇幻色彩的儿童放映厅，首席产品官盛晓峰发布了一款科技感与趣味性深度融合的儿童科技产品——奇妙电路，为在场来宾开启了一个“见，所未见”的物理科学启蒙世界。</p>
					<p>现场还邀请到10位自闭症儿童，走进了互动体验区。</p>
				</div>
				<div class="game-cont">
					<div class="n-b-btn-b" data-sw="1">
						<img src="http://static.putaocdn.com/store/front/images/conference2016q2/btn_back.jpg">
					</div>
					<div class="swiper-container" id="swiper1">
						<div class="swiper-wrapper" style="width: 14144px; height: 600px;">
							<div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/01.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">1</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">摆放整齐的奇妙电路</div>
								</div>
							</div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/02.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">2</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">为远道而来的嘉宾准备了精致的茶歇！</div>
								</div>
							</div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/03.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">3</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">沉浸在奇妙电路乐趣中的嘉宾</div>
								</div>
							</div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/04.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">4</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">精心布置的产品体验区</div>
								</div>
							</div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/05.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">5</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">精心布置的发布厅</div>
								</div>
							</div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/06.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">6</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">星语心愿，自闭症孩子的天地！</div>
								</div>
							</div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/07.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">7</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">精心布置的外场</div>
								</div>
							</div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/08.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">8</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">听得很认真的嘉宾们！</div>
								</div>
							</div>
							<!--                            <div class="swiper-slide">-->
							<!--                                <img src="-->
							<!--?//= front_asset_image('conference2016q2/09.jpg')?-->
							<!--">-->
							<!--                                <div class="game-txt">-->
							<!--                                    <div class="game-num">-->
							<!--                                        <span name="game-ci">9</span> / <span name="game-ca">14</span>-->
							<!--                                    </div>-->
							<!--                                    <div class="txt">嘉宾2</div>-->
							<!--                                </div>-->
							<!--                            </div>-->
							<div class="swiper-slide" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/10.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">9</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">淘淘今天很忙！人气超高！</div>
								</div>
							</div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/11.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">10</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">童心满满的嘉宾在体验奇妙电路！</div>
								</div>
							</div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/12.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">11</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">葡萄科技CPO盛晓峰正在做新品发布演讲！</div>
								</div>
							</div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/13.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">12</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">今天，星星的孩子们不孤独！</div>
								</div>
							</div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;">
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/14.jpg">
								<div class="game-txt">
									<div class="game-num">
										<span name="game-ci">13</span> / <span name="game-ca">13</span>
									</div>
									<div class="txt">自闭症孩子在志愿者的帮助下，学得很快！</div>
								</div>
							</div>
							<!--                            <div class="swiper-slide">-->
							<!--                                <img src="-->
							<!--?//= front_asset_image('conference2016q2/15.jpg')?-->
							<!--">-->
							<!--                                <div class="game-txt">-->
							<!--                                    <div class="game-num">-->
							<!--                                        <span name="game-ci">15</span> / <span name="game-ca">15</span>-->
							<!--                                    </div>-->
							<!--                                    <div class="txt">演示葡萄纬度</div>-->
							<!--                                </div>-->
							<!--                            </div>-->
						</div>
					</div>
					<div class="n-b-btn-n" data-sw="1">
						<img src="http://static.putaocdn.com/store/front/images/conference2016q2/btn_next.jpg">
					</div>
				</div>
			</div>
			<div class="co-experience">
				<a name="t3"></a>
				<div class="co-title">
					<img src="http://static.putaocdn.com/store/front/images/conference2016q2/img_title_03.png">
				</div>
				<div class="co-subtitle">
					<h3>葡萄科技不忘初心</h3>
					<p>葡萄科技不忘初心，始终以爱为藤蔓，以科技为依托，为孩子创造不可思议的童年体验，发掘出每一个孩子独有的天赋。</p>
				</div>
				<div class="pic-sel">
					<div class="sel-nav">
						<div class="sel-item selected" data-index="0">
							<img src="http://static.putaocdn.com/store/front/images/conference2016q2/qidl_logo.png">
						</div>
						<div class="sel-item" data-index="1">
							<img src="http://static.putaocdn.com/store/front/images/conference2016q2/xktx_logo.png">
						</div>
					</div>
					<div class="experience-cont" data-index="0">
						<img src="http://static.putaocdn.com/store/front/images/conference2016q2/img_experience_qmdl.jpg">
					</div>
					<div class="experience-cont" data-index="1" style="display: none">
						<img src="http://static.putaocdn.com/store/front/images/conference2016q2/img_experience_xinxin.jpg">

					</div>
				</div>
			</div>
			<div class="co-media">
				<a name="t4"></a>
				<div class="co-title">
					<img src="http://static.putaocdn.com/store/front/images/conference2016q2/img_title_04.png">
				</div>
				<div class="media-box">
					<dd class="media-list">
						<dl class="media-item">
							<a href="http://www.whb.cn/zhuzhan/kandian/20160518/57578.html" target="_blank">
								<!--<span class="icon_video_s" name="play_btn"></span>-->
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/pohot_report_01.jpg"></a>
							<div class="vit">
								<span class="ht">文汇报：</span>
								<span class="tc">葡萄科技“奇妙电路”启蒙儿童物理科学世界</span>
							</div>
						</dl>
						<dl class="media-item">
							<a href="http://shanghai.xinmin.cn/xmwx/2016/05/19/30042678.html" target="_blank">
								<!--<span class="icon_video_s" name="play_btn"></span>-->
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/pohot_report_02.jpg"></a>
							<div class="vit">
								<span class="ht">新民网：</span>
								<span class="tc">儿童玩具披高科技外衣 孙雯参与设计可穿戴手环</span>
							</div>
						</dl>
						<dl class="media-item">
							<a href="http://www.gfic.cn/2016/0519/5886005.shtml" target="_blank">
								<!--<span class="icon_video_s" name="play_btn"></span>-->
								<img src="http://static.putaocdn.com/store/front/images/conference2016q2/pohot_report_03.jpg"></a>
							<div class="vit">
								<span class="ht">国际金融网：</span>
								<span class="tc">智能儿童玩具成下一个风口</span>
							</div>
						</dl>
						<dl class="media-item">
							<a href="http://www.cs.com.cn/ssgs/hyzx/201605/t20160519_4972896.html" target="_blank"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/pohot_report_04.jpg"></a>
							<div class="vit">
								<span class="ht">中证网：</span>
								<span class="tc">葡萄科技发布新品</span>
							</div>
						</dl>
						<dl class="media-item">
							<a href="http://www.sh.chinanews.com/kjws/2016-05-18/5053.shtml" target="_blank"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/pohot_report_05.jpg"></a>
							<div class="vit">
								<span class="ht">上海新闻网：</span>
								<span class="tc">科技玩具“奇妙电路”发布 启蒙儿童了解物理世界</span>
							</div>
						</dl>
						<dl class="media-item">
							<a href="http://digital.it168.com/a2016/0519/2645/000002645803.shtml" target="_blank"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/pohot_report_06.jpg"></a>
							<div class="vit">
								<span class="ht">IT168：</span>
								<span class="tc">儿童物理科学 葡萄科技奇妙电路发布会</span>
							</div>
						</dl>
					</dd>
				</div>
			</div>
			<div class="co-tidbits">
				<a name="t5"></a>
				<div class="co-title">
					<img src="http://static.putaocdn.com/store/front/images/conference2016q2/img_title_05.png">
				</div>
				<div class="tidbits-cont">
					<div class="n-b-btn-b" data-sw="3">
						<img src="http://static.putaocdn.com/store/front/images/conference2016q2/btn_back.jpg">
					</div>
					<div class="swiper-container" id="swiper3">
						<div class="swiper-wrapper" style="width: 13056px; height: 600px;">
							<div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 1088px; height: 600px;"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/h1.jpg"></div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/h2.jpg"></div>
							<!--<div class="swiper-slide"><img src="../static/images/conference2016q2/h3.jpg"></div>-->
							<div class="swiper-slide" style="width: 1088px; height: 600px;"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/h4.jpg"></div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/h5.jpg"></div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/h6.jpg"></div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/h7.jpg"></div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/h8.jpg"></div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/h12.jpg"></div>
							<!--<div class="swiper-slide"><img src="../static/images/conference2016q2/h13.jpg"></div>-->
							<div class="swiper-slide" style="width: 1088px; height: 600px;"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/h14.jpg"></div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/h15.jpg"></div>
							<!--<div class="swiper-slide"><img src="../static/images/conference2016q2/h16.jpg"></div>-->
							<div class="swiper-slide" style="width: 1088px; height: 600px;"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/h17.jpg"></div>
							<div class="swiper-slide" style="width: 1088px; height: 600px;"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/h18.jpg"></div>
						</div>
					</div>
					<div class="n-b-btn-n" data-sw="3">
						<img src="http://static.putaocdn.com/store/front/images/conference2016q2/btn_next.jpg">
					</div>
					<div class="swiper-page"><span id="c_i">1</span> / <span id="c_a">12</span></div>
				</div>
			</div>
			<div class="co-end">
				<div class="co-title">
					<a href="page_carnival?name=2016Q1&description=1" target="_blank"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/img_title_06.jpg"></a>
				</div>
				<div class="co-title">
					<a href="page_carnival?name=2015&description=1" target="_blank"><img src="http://static.putaocdn.com/store/front/images/conference2016q2/img_title_07.jpg"></a>
				</div>
			</div>
		</div>
	</div>
</div>
<div id="videoModal" class="modal modal-video fade " data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-label="Close"><i class="iconfont icon-close">&#xe619;</i></button>
		<h4 class="modal-title" id="myModalLabel">2016 Q2葡萄科技新品发布会</h4>
	</div>
	<div class="modal-bd">
		<div id="youkuplayer" style="width:862px;height:524px;display: block">
			<!--<!--                    </div>-->
		</div>

	</div>
</div>
<script src="<%=helpers.staticurl('/js/lib/jquery.min.js')%>"></script>
<script src="<%=helpers.staticurl('/js/lib/swiper2.js')%>"></script>
<script src="http://static.putaocdn.com/store/front/js/lib/bootstrap.min.js"></script>
<script src="http://static.putaocdn.com/store/front/js/conference.js"></script>
<script type="text/javascript" src="http://player.youku.com/jsapi"></script>
<script type="text/javascript">
	//显示下拉图片效果
	var num;
	$('.nav-list li[id]').hover(function() {
		var Obj = $(this).attr('id');
		num = Obj.substring(3, Obj.length);
		$('#box-' + num).slideDown();
	}, function() {
		$('#box-' + num).hide();
	});
	$('.menus').hover(function() {
		$(this).show();
	}, function() {
		$(this).slideUp(200);
	});
</script>

<script>
	$('.icon_video_l').click(function() {
		$('#videoModal').modal('show');
		var player = new YKU.Player('youkuplayer', {
            styleid: '0',
            client_id: '5c30db50b42ae8c4',
            vid: 'XMTU3NjYxOTMxMg==',
            show_related: false
        })
	});
</script>
<% include ./footer.ejs %>