<% include ./header.ejs %>
	<div style="text-align: center;">
		<img src="<%=helpers.staticurl('/images/chart/ttmd_1.jpg')%>"/>
 		<img src="<%=helpers.staticurl('/images/chart/ttmd_2.jpg')%>"/>
 		<img src="<%=helpers.staticurl('/images/chart/ttmd_3.jpg')%>"/>
	</div>
<% include ./footer.ejs %>
