<% include ./header.ejs %>
	<div style="text-align: center;">
		<img src="<%=helpers.staticurl('/images/chart/ttmd_4.jpg')%>"/>
 		<img src="<%=helpers.staticurl('/images/chart/ttmd_5.jpg')%>"/>
	</div>
<% include ./footer.ejs %>
