<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/contact.css')%>" />
<!--<link rel="stylesheet" href="css/contact.css" />-->
<div class="contact-page">
	
<div class="contact_bg">
	
</div>

<ul>
	<li></li>
	<li></li>
	<li></li>
</ul>

<div class="text_box">
电话：021-54679188<br />
地址：上海市闵行区田林路1016号科技绿洲三期10号楼 <br />
官网：www.putao.com
</div>

<div class="map">
	
</div>

</div>

<script type="text/javascript" src="<%=helpers.staticurl('/js/contact.js')%>"></script>
</body>

</html>
<% include ./footer.ejs %>