<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/cooperation.css')%>" />
<!--<link rel="stylesheet" href="css/cooperation.css" />-->
<div class="cooperation-page">

	<div class="contact_bg">

	</div>
	
	<ul class="imglist">
		<li>
			
		</li>
		<li>
			
		</li>
		<li>
			
		</li>
		<li style="display: none;">
			
		</li>
		<li>
			
		</li>
	</ul>
	
	<div class="map">
		
	</div>

</div>

<script type="text/javascript" src="<%=helpers.staticurl('/js/cooperation.js')%>"></script>
</body>

</html>
<% include ./footer.ejs %>