<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/cooperation.css')%>" />
<div class="cooperation-page">
	<div class="currentLocation">
		首页>营销合作
	</div>
	<div class="contact_bg">

	</div>

	<div class="contact_tel">
		400-651-6161
	</div>

	<div class="list">
		<dl>
			<dt>玩具渠道</dt>
			<dd>
				葡萄儿童科技产品与"玩具反斗城、孩子玩"等<br /> 母婴玩具百货合作，覆盖全国30个大中型城市，
				<br /> 门店超过20家，并持续增加中。
			</dd>
		</dl>
		<div>
			<span></span>
		</div>
		<dl>
			<dt>3C渠道</dt>
			<dd>
				葡萄儿童科技产品与国内3C数码经销商<br /> 开展渠道合作，目前"苏宁、国美、美承、大润发"
				<br /> 等一线3C数码商店均有销售。
			</dd>
		</dl>
	</div>

	<div class="list">
		<dl>
			<dt>教玩渠道</dt>
			<dd>
				葡萄儿童科技产品在"上海科技馆、实验学校、<br /> 早教中心"等教育机构频繁展开现场体验活动，
				<br /> 受到广泛好评。
			</dd>
		</dl>
		<div>
			<span></span>
		</div>
		<dl>
			<dt>微商渠道</dt>
			<dd>
				葡萄科技针对徽商渠道特别定制专供产品，<br /> 独享优惠、换货机制、电招引流、渠道保护等
				<br /> 政策支持，诚邀加盟。
			</dd>
		</dl>
	</div>

</div>

<script type="text/javascript" src="<%=helpers.staticurl('/js/cooperation.js')%>"></script>
</body>

</html>
<% include ./footer.ejs %>