<div id="footer">
	<div class="container">

		<div class="footer-list clearfix">
            
            <dl>
                <dt>
                    售后服务</dt>
                <dd>
                    <a href="/help/tuikuan.html" target="_blank">退款补寄</a> <a href="/help/faq.html" target="_blank">常见问题</a> <a href="/help/1.html" target="_blank">配送须知</a> 
                </dd>
            </dl>
        
            <dl>
                <dt>
                    支付配送</dt>
                <dd>
                    <a href="/help/yanhuo.html" target="_blank">验货与签收</a> <a href="/help/peisong.html" target="_blank">配送范围</a> <a href="/help/zhifu.html" target="_blank">支付方式</a> 
                </dd>
            </dl>
        
            <dl>
                <dt>
                    新手上路</dt>
                <dd>
                    <a href="/help/gouxie.html" target="_blank">购蟹方式</a> <a href="/help/TIHUO.html" target="_blank">在线提货</a> 
                </dd>
            </dl>
                
            <dl>
                <dt>关于我们</dt>
                <dd>
                    <a href="/about/" target="_blank">公司简介</a> <a href="/about/#case" target="_blank">发展历程</a><a href="/about/#culuter1" target="_blank">公司文化</a>
                    <a href="/about/#Clients" target="_blank">联系我们</a>
                </dd>
            </dl>
        </div>

	</div>

</div>
</body>

</html>