<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>葡萄纬度科技</title>
</head>
<body>
  <div class="main_header">
    <div class="header_inner">
      <a href="/" class="logo">
        <img width="110"  alt="logo" title="logo">
      </a>
      <ul class="header_nav">
        <li><a href="/">首页</a></li>
        <li><a href="/pt_home">葡萄之家</a></li>
        <li><a href="/theatre">葡星影院</a></li>
        <li><a href="/brand">品牌动态</a></li>
        <li><a href="/app">应用下载</a></li>
      </ul>
      <div class="login_info">
        <%if(!shopcart){%>
        <div class="header-account-wrapper">
          <div class="header-account-panel">
            <a href="/user/login" rel="nofollow">登录</a>
            <a href="" rel="nofollow">购物车</a>
          </div>
        </div>
        <%}else{%>
        <div class="header-account-wrapper">
          <div class="header-account-panel">
            <span class="user">
              <a class="user-name" href="/user/myOrder">
                <span class="name">樊坤乾</span>
                <i class="iconfont">&#xe609</i>
              </a>
              <ul class="user-menu" style="display: none; height: 0px; padding: 0px;">
                <li><a href="/service/customer/list" data-stat-id="281a83d86f7b24f9">售后服务</a></li>
                <li><a href="/user/account/address" data-stat-id="281a83d86f7b24f9">收货地址</a>
                </li>
                <li>
                </li><li><a href="https://account.putao.com" target="_blank" data-stat-id="">账户资料</a></li>
                <li><a href="/user/logout" data-stat-id="">退出登录</a></li>
              </ul>
            </span>
          </div>
        </div>
        <a class="shop_mall">
          <span class="shop_bag"><%=shopcart.num%></span>
          <span class="shop_mall_text">商城</span>
        </a>
        <%}%>
      </div>
    </div>
  </div>