<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>
			<%=title%>
		</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Expires" content="0">
		<!-- <meta id="Key" name="Keywords" content="阳澄湖大闸蟹,大闸蟹,大闸蟹礼券,大闸蟹礼卡,大闸蟹礼盒,大闸蟹价格,上海阳澄湖大闸蟹,海鲜大礼包,中华蟹网">
		<meta id="Des" name="Description" content="著名阳澄湖大闸蟹品牌,苏州阳澄湖大闸蟹协会常务理事;购买正宗阳澄湖大闸蟹及大闸蟹礼卡、大闸蟹礼券、大闸蟹礼盒、海鲜大礼包等尽在中华蟹网。总部设上海,并在北京、天津、深圳、广州、重庆、杭州、南京、济南、西安、武汉、合肥、长沙、成都、太原、兰州等设有阳澄湖大闸蟹直营店,辐射全国,形成产供销一体化发展模式"> -->
		<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
		<link rel="icon" href="images/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" href="css/reset.css" />
		<link rel="stylesheet" href="css/common.css" />
	</head>

	<body id="main-body">
		<div id="top-header">
			<div class="content">
				<div id="logo"></div>
				<ul class="nav">
					<li><a href="">首页</a></li>
					<li><a href="">端午节粽子<i class="icon-hot"></i></a></li>
					<li><a href="">新闻中心</a></li>
					<li><a href="">新闻中心</a></li>
					<li><a href="">新闻中心</a></li>
					<li><a href="">新闻中心</a></li>
					<li><a href="">新闻中心</a></li>
				</ul>
				<div class="tel">
					<span>400-807-9777</span>
				</div>
			</div>
			
		</div>
