<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/join.css')%>" />
<div class="join-page">
	<div class="currentLocation">
		<a href="/">首页</a> > <a href="/about">关于葡萄</a> > 加入我们
	</div>
	<div class="contact_bg">

	</div>
	<div class="advantage">
		<dl>
			<dt>协作共赢的工作环境</dt>
			<dd>
				葡萄科技是一家年轻的创业型公司，这里不计出身，没有大公司的条条框框，每个人都积极沟通，协力配合实现共同的目标。
			</dd>
		</dl>
		<div>
			<span></span>
		</div>
		<dl>
			<dt>为孩子创造</dt>
			<dd>
				葡萄科技是一家专注为3-12岁儿童及家长提供全生态产品及服务的科技企业。您现在有机会一起参与，为我们的孩子创造更美好的童年。
			</dd>
		</dl>
		<div>
			<span></span>
		</div>
		<dl>
			<dt>与行业精英一同学习成长</dt>
			<dd>
				葡萄吸引了来自硅谷的顶尖工业设计师，资深的儿童产品开发者，经验丰富的儿童心理专家，荣获过金翎奖的游戏高手，互联网行业资深老兵和连续成功创业者。

			</dd>
		</dl>
	</div>
	<h2>找到适合您的岗位</h2>
	<ul>
		<li>
			产品经理
		</li>
		<li>
			研发工程师
		</li>
		<li>
			设计师
		</li>
		<li>
			营销·市场
		</li>
		<li>
			行政·财务
		</li>
		<li>
			客服
		</li>
	</ul>
	<div class="href">
		<a href="https://company.liepin.com/8415753/" target="_blank">更多职位></a>
	</div>
	
</div>

<script type="text/javascript" src="<%=helpers.staticurl('js/join.js')%>"></script>
</body>

</html>
<% include ./footer.ejs %>