<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/nationalStores.css')%>" />
<div class="contact-page">
	<div class="currentLocation">
		首页>全国门店
	</div>
	<div class="contact_bg">

	</div>

	<div class="contMap">

	</div>

	<ul>
		<li>
			<div>
				<h2>玩具渠道</h2>
				<p>
					玩具反斗城<br /> 孩子王
					<br /> 红孩子等母婴儿童百货专柜
				</p>
			</div>
		</li>
		<li>
			<div>
				<h2>3C渠道</h2>
				<p>
					苏宁数码商城<br /> 国美数码专营店
					<br /> 美承数据生活馆<br />大润发数码百货专柜等3C经销商
				</p>
			</div>
		</li>
		<li>
			<div>
				<h2>教玩渠道</h2>
				<p>
					上海科技馆<br /> 新静安安庆幼儿园
					<br /> 上理附小<br />智学堂等儿童教育培训机构
				</p>
			</div>
		</li>
	</ul>
</div>

<script type="text/javascript" src="<%=helpers.staticurl('js/nationalStores.js')%>"></script>
</body>

</html>
<% include ./footer.ejs %>