<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/index.css">
  <link rel="stylesheet" href="/css/old_header.css">
  <title></title>
</head>
<body>
  <div id="header" style="position: relative;">
    <div class="header-main">
      <div class="header-container clearfix">
        <div class="nav-list">
          <ul class="clearfix">
            <!--        class="current"-->
            <li><a href="/" class="current">首页</a></li>
            <li id="li-1">
              <a href="#">葡萄产品</a>
            </li>
            <li><a href="/weidu">葡萄纬度</a></li>
            <li id="li-2"><a href="/app" class="last ">APP下载</a></li>
            <!--        <li><a href="http://bbs.putao.com" target="_blank">社区</a></li>-->
            <li><a href="/2016Q2" target="_blank">嘉年华</a></li>
          </ul>
        </div>
        <a href="/" class="logo">
          <img width="110" src="http://static.putaocdn.com/store/front/images/nav_logo_ani@2x.gif" alt="logo" title="logo">
        </a>            <div class="header-account-wrapper">
          <div class="header-account-panel">
            <a href="/user/login" rel="nofollow">登录</a>
            <a href="/user/register" rel="nofollow">注册</a>

          </div>
          <!--
              <div class="cart-label ">
                  <a class="cart-mini" href="/cart" target="_blank">
                      <i class="iconfont">&#xe608;</i>
                      <span class="">(0)</span>
                  </a>
              </div>
          -->
          <div class="cart-menu" id="J_miniCartMenu" style="/* display: none; */">
            <div class="loading">
              <div class="loader">

              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
    <!--下拉图片-->
    <div class="nav-menu">
      <div id="box-1" class="header-container menus" style="display: none;">
        <ul class="menu-item clearfix">
          <li>
            <a href="/page/qimiaodianlu"><img src="http://mall.file.putaocdn.com/file/abd58383dd0d44c311d3d4a9f8974ca13279bfe0.jpg"></a>

            <p><a href="/page/qimiaodianlu">奇妙电路</a></p>
            <i></i>                            </li>
          <li>
            <a href="/product/16"><img src="http://mall.file.putaocdn.com/file/4a2e2a56dac3993b4951e85dcc23e7d36621a7a3.jpg"></a>

            <p><a href="/product/16">麦斯丝</a></p>
            <i></i>                            </li>
          <li>
            <a href="http://www.putao.com/page/tutushijie"><img src="http://mall.file.putaocdn.com/file/8cfef2d545eee2de4bd2e59ddfd2a341fd1db38c.jpg"></a>

            <p><a href="http://www.putao.com/page/tutushijie">涂涂世界</a></p>
            <i></i>                            </li>
          <li>
            <a href="http://www.putao.com/page/hellobiancheng"><img src="http://mall.file.putaocdn.com/file/bd7b6dd215c3a40bb0c78ec5aa927b3e2299a2bb.jpg"></a>

            <p><a href="http://www.putao.com/page/hellobiancheng">Hello编程</a></p>
            <i></i>                            </li>
          <li>
            <a href="http://www.putao.com/page/hanihaiyang"><img src="http://mall.file.putaocdn.com/file/60287d025402adf7f2e7d754195e850c5e1d18c8.jpg"></a>

            <p><a href="http://www.putao.com/page/hanihaiyang">哈泥海洋</a></p>
            <i></i>                            </li>
          <li>
            <a href="http://www.putao.com/page/tansuohao"><img src="http://mall.file.putaocdn.com/file/742b7b269609b1290c2ae53f228bcc5834eea226.jpg"></a>

            <p><a href="http://www.putao.com/page/tansuohao">葡萄探索号</a></p>
          </li>
        </ul>
      </div>
    </div>
    <!--下拉图片end-->
  </div>
</body>
</html>