<% include ./header.ejs %>
<link rel="stylesheet" href="<%=helpers.staticurl('/css/index.css')%>">
	<link rel="stylesheet" href="<%=helpers.staticurl('/css/presale.css')%>">
	<div class="presale-page">
		<div class="bg_top"></div>
		<div class="bg1"></div>
		<div class="bg2">
			<a target="_blank" href="<%=helpers.getShoppingMallUrl('/v1/pay/card?id=13')%>"></a>
		</div>
		<div class="bg3"></div>
		<div class="mask">
			<div>
				<a target="_blank" href="http://store.putao.com/page/paibot">查看详情</a>
				<a target="_blank" href="<%=helpers.getShoppingMallUrl('/v1/pay/card?id=11')%>">限时抢</a>
			</div>
		</div>
		<div class="bg_bottom"></div>
	</div>
<% include ./footer.ejs %>