<% include ./header.ejs %>
 <link rel="stylesheet" href="<%=helpers.staticurl('/css/ptcodecaption.css')%>" /> 
<!--<link rel="stylesheet" href="/css/ptcodecaption.css" />-->
<div class="page-ptcodecaption">
  <div class="bg2">
    <h2>使用说明</h2>
    <h3>点击“查看详情”后，选择想要购买的款式，并点击立即“立即购买”。</h3>
    <div class="img1">

    </div>
    <h3>进入订单确认页面，核对购买信息无误后，点击“下一步”完成支付，优惠金额直接在订单确认页有显示哦！</h3>
  </div>
  <div class="bg3">
    <div class="img2">

    </div>
    <a class="btn" href="/ptcode/caption/<%=pageType%>">查看详情</a>
  </div>
</div>
<script src="<%=helpers.staticurl('/js/lib/jquery.min.js')%>"></script>
