<% include ./header.ejs %>
 <link rel="stylesheet" href="<%=helpers.staticurl('/css/ptcodecaption.css')%>" /> 
<!--<link rel="stylesheet" href="/css/ptcodecaption.css" />-->
<div class="page-ptcodecaptionId">
	<%if(k === 'paibot'){%>
		<div class="paibot">
	<%}else if(k === 'paiband'){%>
		<div class="paiband">
	<%}%>
		<div class="bg1">

		</div>
		<div class="bg2">

		</div>
		<div class="bg3">

		</div>
		<%if( k === 'paibot'){%>
			<div class="purchase">
			<div>
				<a data-d="154" class="j-btn" href="javascript:;">
					立即购买
				</a>
			</div>
			<div>
				<a data-d="153" class="j-btn" href="javascript:;">
					立即购买
				</a>
			</div>
		</div>
		<%}else if(k === 'paiband'){%>
			<div class="purchase">
			<div>
				<a data-d="134" class="j-btn" href="javascript:;">
					立即购买
				</a>
			</div>
			<div>
				<a data-d="135" class="j-btn" href="javascript:;">
					立即购买
				</a>
			</div>
		</div>
		<%}%>
		
	</div>
</div>
<form hidden="hidden" name='form1' method="post" action="<%=helpers.getShoppingMallUrl('/order/confirm')%>">
	<input type="text" name="qt" value="1" />
	<input type="text" name="product_id" value="143" />
	<input type="text" name="is_pt_code" value="1" />
</form>
<script src="<%=helpers.staticurl('/js/lib/jquery.min.js')%>"></script>
<script type="text/javascript">
	$(function(){
		var $btn = $('.j-btn');
		var $form = $('form');
		$btn.click(function(){
			var id = $(this).data('d');
			$form.find('input').eq(1).val(id);
			$form[0].submit();
		})
	})
</script>
<!--<script src="/js/pt_home.js"></script>-->