
  	<% include ./header.ejs %>
    <link rel="stylesheet" href="<%=helpers.staticurl('/css/qimiaofaxian.css')%>" />
    <link rel="stylesheet" type="text/css" href="http://player.youku.com/h5player/play.css?ver=2016/06/21151259">
    <div class="page_qimiaofaxian">
    	
    <!-- top -->
    <div class="top pr">
      <!--<div class="light wow bounceIn"></div>
      <div class="light1 wow bounceIn"></div>-->
      <div class="w pr h">

        <div class="yzl_ipad wow bounceInUp">

        </div>

        <div class="text wow bounceInDown">

        </div>

        <div class="text1 wow bounceInUp">

        </div>
		
		<a href="#"></a>
      </div>
    </div>
    <!-- /top -->

    <!-- video -->
    <div class="video pr">
      <div class="box">
        <div class="play_icon" id="play_icon"></div>
        <div id="youkuplayer" style="width: 800px;height: 450px;"></div>
        <img id="video-fc" style="position: absolute;top:0" src="<%=helpers.staticurl('/images/player_bg.jpg')%>">
      </div>

    </div>
    <!-- /video -->
    
    <!-- 科技时代 -->
    <div class="technology">
      <div class="w h pr">
      	<!--<p data-wow-delay="0.5s"></p>-->
      	<p data-wow-delay="0.5s" class="wow bounceIn"></p>
      </div>
    </div>
    <!-- /科技时代 -->

    <!-- 奇妙发现 -->
    <div class="data">
      <div class="w h pr">
      	<p data-wow-delay="0.5s" class=
      		"wow fadeInDown"></p>
      	<p data-wow-delay="0.5s" class="wow bounceIn"></p>
      </div>
    </div>
    <!-- /奇妙发现 -->

    <!-- 淘淘向右走 -->
    <div class="ar pr">
      <div class="w h pr">
        <div data-wow-delay="0.8s" class="bg1 wow bounceIn"></div>
        <a href="#" data-wow-delay="0.8s" class="bg2 wow bounceIn"></a>
      </div>
    </div>
    <!-- /淘淘向右走 -->

    <!-- 旋转吧魔方 -->
    <div class="multivariate">
      <div class="w h pr">
        <div data-wow-delay="0.8s" class="bg1 wow bounceIn"></div>
        <a href="#" data-wow-delay="0.8s" class="bg2 wow bounceIn"></a>
      </div>
    </div>
    <!-- /旋转吧魔方 -->

    <!-- 把音乐敲出来 -->
    <div class="promote">
      <div class="w h pr">
        <div data-wow-delay="0.8s" class="wow zoomIn"></div>
        <div data-wow-delay="0.8s" class="wow zoomIn"></div>
        <div data-wow-delay="0.8s" class="wow zoomIn"></div>
      </div>
    </div>
    <!-- /把音乐敲出来 -->

    <!-- 多元智能 -->
    <div class="ventureCapital">
      <div class="w pr h">
      	<p></p>
        <p class="wow flash"></p>
      	<p></p>
      </div>
    </div>
    <!-- /多元智能 -->

    <!-- 保护视力 -->
    <div class="protectEyesight pr">
      <div class="bg"></div>
      <div class="btn wow bounceIn"></div>
    </div>
    <!-- /保护视力 -->

    <!-- 时间管理 -->
    <div class="timeManagement pr">
      <div class="btn"></div>
      <!--<a href="https://itunes.apple.com/us/app/pu-tao-wei-du/id1067487375?l=zh&ls=1&mt=8"></a>-->
    </div>
    <!-- /时间管理 -->

    <!-- FDA认证 -->
    <div class="fda">
      <div class="w h pr">
        <!--<div data-wow-delay="0.8s" class="btn wow bounceIn"></div>
        <div data-wow-delay="0.8s" class="btn1 wow bounceIn"></div>-->
      </div>
    </div>
    <!-- /FDA认证 -->

    <!-- 科技陪伴成长 -->
    <div class="banner">

    </div>
    <!-- /科技陪伴成长 -->

    <!-- 产品 -->
    <div class="parts">
		<div class="w h pr">
			<a href="http://web-store-test.ptdev.cn/page/tansuohao"></a>
		</div>
    </div>
    <!-- /产品 -->
    
    <!-- 相关科技产品 -->
    <div class="relevant">
      <a href="/page_hellobc"></a>
      <a href="/page_tutushijie"></a>
      <a href="/page_maisisi"></a>
      <a href="/page_mofang"></a>
    </div>
    <!-- /相关科技产品 -->
    </div>
    <script type="text/javascript" src="<%=helpers.staticurl('/js/lib/wow.min.js')%>"></script>
    <script type="text/javascript" src="http://player.youku.com/jsapi"></script>
    <script type="text/javascript" src="<%=helpers.staticurl('/js/qimiaofaxian.js')%>" ></script>
<% include ./footer.ejs %>