/* ================================ banner区 css ================================= */

#banner {
    width: 100%;
    height: 560px;
    overflow: hidden;
    position: relative;
}

.swiper-box {
    width: 100%;
}

.swiper-box img {
    width: 100%;
    height: 560px;
    /* transition: 1.2s; */
}

.swiper-box .swiper-pagination-switch.swiper-active-switch {
    background-color: red;
}

.swiper-box .swiper-pagination {
    width: 100%;
    height: 20px;
    position: absolute;
    left: 0;
    bottom: 90px;
    z-index: 1000;
    text-align: center;
    user-select: none;
}

.swiper-box .swiper-pagination-switch {
    width: 32px;
    height: 3px;
    border-radius: 4px;
    background-color: rgba(222, 222, 222, .6);
    display: inline-block;
    margin: 0 6px;
    transition: .6s;
    cursor: pointer;
}


/* ================================ banner区 css ================================= */


/* ================================ elite区 css ================================= */

.elite {
    width: 100%;
    /* height: 1000px; */
    background: url('../images/bg-pro-index.png');
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    position: relative;
}

.elite .left,
.right {
    width: 220px;
    height: 700px;
    position: absolute;
    z-index: 9;
}

.elite .middle {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    z-index: 10;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
}

.elite .left {
    top: 0;
    left: 0;
    background: url('../images/b-left.jpg') no-repeat;
    background-size: cover;
}

.elite .right {
    right: 0;
    bottom: 0;
    align-self: flex-end;
    background: url('../images/b-right.jpg') no-repeat;
    background-size: cover;
}

.middle .desc {
    width: 100%;
    min-width: 960px;
    height: 240px;
}

.middle .desc ul {
    width: 960px;
    text-align: center;
    margin: 0 auto;
    position: relative;
    top: -180px;
    z-index: 999;
}

.middle .desc img {
    display: block;
}

.middle .desc ul li {
    margin-right: -3px;
    display: inline-block;
}

ul.part_1 li .head-img{
    width: 320px;
    height: 160px;
}

.middle .desc ul.part_2 {
    margin-top: 30px;
    height: 66px;
    background: linear-gradient(to bottom, rgba(245, 242, 233, 1.0), rgba(255, 255, 255, 1.0));
}

.middle .desc ul.part_2 li {
    width: 240px;
    height: 66px;
    text-align: left;
    margin-right: 0;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    float: left;
}

.middle .desc ul.part_2 li+li {
    width: 239px;
    border-left: 1px solid #ddd;
}

ul.part_2 li div {
    padding-top: 18px;
    margin-left: 20px;
    text-align: center;
}

ul.part_2 li div p {
    transform: scale(0.9);
    color: #888;
    margin-top: 4px;
}

ul.part_2 li i {
    display: inline-block;
    background: url('../images/icon-list-8.png') no-repeat;
    width: 43px;
    height: 43px;
    margin: 11px 0 0 36px;
}

ul li.icon_1 i {
    /* 顺丰包邮 */
    background-position: -124px 0;
}

ul li.icon_2 i {
    background-position: -310px 0;
}

ul li.icon_3 i {
    background-position: -372px 0;
}

ul li.icon_4 i {
    background-position: -434px 0;
}

ul.part_2 li:hover {
    background: rgb(175, 155, 117);
    /* Old browsers */
    background: -moz-linear-gradient(top, rgba(175, 155, 117, 1) 0%, rgba(237, 223, 196, 1) 100%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(175, 155, 117, 1) 0%, rgba(237, 223, 196, 1) 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(175, 155, 117, 1) 0%, rgba(237, 223, 196, 1) 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#af9b75', endColorstr='#eddfc4', GradientType=0);
    /* IE6-9 */
}


/* table区域 货架css */

.table .content {
    position: relative;
    width: 1120px;
    height: 270px;
    overflow: visible;
}

.table .content .card {
    position: absolute;
    width: 900px;
    height: 220px;
    left: 50%;
    top: -200px;
    transform: translateX(-50%);
    z-index: 11;
    /* display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between; */
}

.card .item {
    width: 280px;
    background: #222;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    float: left;
    margin: 0 10px;
}

.card .item .item-img {
    height: 140px;
    overflow: hidden;
}

.card .item img {
    transition: .3s;
}

.card .item:hover img {
    transform: scale(1.1);
}

.card .item .item-text {
    /* height: 80px; */
    padding: 10px 20px;
    color: #ccc;
    font-size: 1.6rem;
    line-height: 60px;
    text-align: center;
}

.table.table_1 .content {
    margin-top: 220px;
    background: url('../images/tables-1.png') no-repeat;
    background-size: contain;
}

.table.table_2 .content {
    background: url('../images/tables-2.png') no-repeat;
    background-size: contain;
}

.table.table_3 .content {
    width: 100%;
    height: 78px;
    background: url('../images/tables-3.png') no-repeat;
    background-size: 100% 140px;
}


/* table区域 货架css */

.top-recommend {
    height: 480px;
    background: #222;
}

.top-recommend .title {
    margin: 0px auto;
    width: 567px;
    padding-top: 32px;
    font-family: '黑体';
    text-align: center;
    font-size: 4.8rem;
    color: #eee;
    font-style: italic;
    user-select: none;
}

.top-recommend .title b {
    color: red;
}

.top-recommend .scroll-land {
    width: 1000px;
    height: 360px;
    margin: 20px auto;
    overflow: hidden;
}

.top-recommend .scroll-land ul {
    height: 360px;
    overflow: hidden;
    position: relative;
    left: -100px;
}

.top-recommend .scroll-land ul li {
    width: 280px;
    height: 320px;
    display: block;
    float: left;
    margin: 20px 20px 20px 0;
}

.top-recommend .scroll-land li img {
    display: block;
    width: 280px;
    height: 200px;
}

.top-recommend .scroll-land li .text {
    display: block;
    width: 280px;
    height: 120px;
    line-height: 1.5;
    font-size: 1.2rem;
    text-indent: 2em;
    color: #eee;
    padding: 16px 12px;
}

.culture {
    height: 800px;
    position: relative;
    background: rgb(246, 246, 246);
}

.culture .left {
    width: 200px;
    height: 400px;
    background: url('../images/bg-sm-5.jpg') no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}

.culture .right {
    width: 360px;
    height: 160px;
    background: url('../images/bg-sm-6.jpg') no-repeat;
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 9;
}

.culture .content {
    width: 1040px;
    height: 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.culture .content .left-bar {
    width: 300px;
    padding: 80px 40px;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    z-index: 10;
}

.culture .content .left-bar .bar-text {
    text-align: center;
    width: 80px;
    font-size: 5.8rem;
    line-height: 5.8rem;
}

.culture .content .left-bar .bar-text_2 {
    width: 20px;
    height: 100px;
    text-align: center;
    font-size: 1.2rem;
    color: #666;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
}

.culture .content .left-bar .bar-text_2 span {
    margin-bottom: 20px;
    height: 100px;
}

.culture .content .left-bar .bar-text_2 span+span {
    padding-top: 20px;
    border-top: 1px solid #111;
}

.culture .content .right-bar {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient:vertical;
    -webkit-flex-direction:column;
    -ms-flex-direction:column;
    flex-direction:column;
}

.culture .content .right-bar .top-bar {
    height: 320px;
    margin-top: 80px;
    background: url('../images/video.jpg') no-repeat;
    position: relative;
}

.culture .content .right-bar .bottom-bar {
    -webkit-box-flex:1;
    -webkit-flex:1;
    -ms-flex:1;
    flex:1;
    background: url('../images/news-bg.png') no-repeat;
    background-position: center center;
    background-size: contain;
    z-index: 10;
}

.culture .right-bar .video {
    padding: 20px 0 0 20px;
    float: left;
    width: 355px;
    height: 260px;
}

.culture .right-bar .video video {
    margin-top: -30px;
}

.culture .right-bar .text {
    float: right;
    width: 240px;
    height: 200px;
    margin: 60px 20px 0 0;
}

.culture .top-bar .text .tit {
    font-size: 20px;
    font-family: mingliu;
    color: #fff;
    text-align: center;
}

.culture .top-bar .text .cont {
    font-family: mingliu;
    font-size: 12px;
    color: #fff;
    padding: 10px;
    text-indent: 2em;
}
/* ================================ elite区 css ================================= */


/* confetti 字体动画区域 */

body .particletext {
    text-align: center;
    position: relative;
}

body .particletext.confetti > .particle {
    opacity: 0;
    position: absolute;
    animation: confetti 2s ease-in infinite;
}

body .particletext.confetti > .particle.c1 {
    background-color: rgba(76, 195, 80, 0.5);
}

body .particletext.confetti > .particle.c2 {
    background-color: rgba(176, 39, 176, 0.5);
}

@keyframes confetti {
    0% {
        opacity: 0;
        transform: translateY(0%) rotate(0deg);
    }
    10% {
        opacity: 1;
    }
    35% {
        transform: translateY(-800%) rotate(270deg);
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateY(3000%) rotate(1440deg);
    }
}

@media only screen and (max-width:1700px) {

    #banner {
    width: 100%;
    height: 520px;
    overflow: hidden;
    position: relative;
    }

    .swiper-box img {
        width: 100%;
        height: 520px;
        /* transition: 1.2s; */
    }
}

@media only screen and (max-width:1400px) {

    #banner {
    width: 100%;
    height: 480px;
    overflow: hidden;
    position: relative;
    }

    .swiper-box img {
        width: 100%;
        height: 480px;
        /* transition: 1.2s; */
    }
}
