    <footer>
        <div class="info">
            <ul>
                <li>
                    <a href="<%=helpers.devurl_m('/system/common/about')%>">关于葡萄</a>
                </li>
                <li>
                    <a href="<%=helpers.devurl_m('/system/common/contact')%>">联系我们</a>
                </li>
                <li>
                    <a href="/brand">品牌动态</a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <ul>
                <li>Copyright &copy; 2016, Putao.com. All Rights Reserved.</li>
                <li>上海葡萄科技有限公司</li>
            </ul>
        </div>
    </footer>
    <script src="<%=helpers.staticurl_m('/js/index_v3.0.js')%>"></script>
    <script>
        var _hmt = _hmt || [];
        (function() {
            var hm = document.createElement("script");
            hm.src = "//hm.baidu.com/hm.js?673857fffc897bf9ff2866d51d3d81f6";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
        })();
    </script>
</body>
</html>