    <footer>
        <div class="info">
            <ul>
                <li>
                    <a href="http://m.putao.com/system/common/about">关于葡萄</a>
                </li>
                <li>
                    <a href="http://m.putao.com/system/common/contact">联系我们</a>
                </li>
            </ul>
        </div>
        <div class="copyright">
            <ul>
                <li>Copyright &copy; 2016, Putao.com. All Rights Reserved.</li>
                <li>上海葡萄纬度科技有限公司</li>
            </ul>
        </div>
    </footer>
</body>
<script src="<%=helpers.staticurl_m('/js/index_v3.0.js')%>"></script>
<script>
//	$(function(){
//		
//	})
</script>
</html>