<div class="container">
	<div class="buynow">
		<span>麦斯丝</span>
		<a href="http://m.putao.com/choose/maisisi">立即购买</a>
	</div>
	<img class="img_dt" src="../images/tjmath/tjmath_01.jpg"/>
	<img class="img_dt" src="../images/tjmath/tjmath_02.jpg"/>
	<img class="img_dt" src="../images/tjmath/tjmath_03.jpg"/>
	<img class="img_dt" src="../images/tjmath/tjmath_04.jpg"/>
	<img class="img_dt" src="../images/tjmath/tjmath_05.jpg"/>
	<img class="img_dt" src="../images/tjmath/tjmath_06.jpg"/>
	<img class="img_dt" src="../images/tjmath/tjmath_07.jpg"/>
	<img class="img_dt" src="../images/tjmath/tjmath_08.jpg"/>
	<img class="img_dt" src="../images/tjmath/tjmath_09.jpg"/>
</div>