<div class="container">
	<div class="buynow">
		<span>淘淘的花园</span>
		<a href="<%=helpers.devurl_m('/choose/taotaodehuayuan')%>">立即购买</a>
	</div>
	<script src="<%=helpers.staticurl_m('/js/lib/wow.min.js')%>"></script>
	<link rel="stylesheet" href="<%=helpers.staticurl_m('/css/animate.css')%>">
	<link rel="stylesheet" href="<%=helpers.staticurl_m('/css/m_taotaohuayuan.css')%>">
	<div class="p-newttymd">
			<div class="p-newttymd-box1" style="margin-top: 0;">
				<div class="p-newttymd_w">
					<div class="p-newttymd-box1_mn">
						<div>淘淘的童话之旅</div>
						<div class="p-newttymd_c">淘淘的花园</div>
						<div class="p-newttymd_c">AR有声故事绘本</div>
						<div>
							<span>AR增强现实技术</span>
							<span>沉浸式阅读体验</span>
							<span>游戏互动玩中学</span>
							<span>培养阅读兴趣</span>
							<span>专业双语朗读</span>
							<span>传递正确人生价值观</span>
						</div>
					</div>
				</div>
			</div>
			<div class="p-newttymd-box2">
				<div class="p-newttymd_w">
					<dl data-wow-delay="0.8s" class="wow fadeInDown p-newttymd_text page-newttymd_text_1 p-newttymd_mt">
						<dt class="p-newttymd_c">故事梗概</dt>
						<dd>
							有一个神奇的花园
						</dd>
						<dd>
							只要敲一敲树上就会长出美味的食物
						</dd>
						<dd>
							小动物们都非常喜欢来这里玩
						</dd>
						
						<dd style="margin-top: .2rem;">
							有一天，花园的主人淘淘旅行回来了
						</dd>
						<dd>
							他生气地把大家都赶了出去
						</dd>
						<dd>
							花园失去了往日的生机
						</dd>
						<dd>
							四季不再轮转，只有寒冷的冰雪覆盖
						</dd>
						<dd>
							孤寂的花园和淘淘好像被整个世界都遗忘了
						</dd>
						<dd>
							淘淘该怎么做才能让花园恢复往日的生机呢
						</dd>
					</dl>
				</div>
			</div>
			<div class="p-newttymd-box3">
				<div class="p-newttymd_w">
					<dl class="p-newttymd_text page-newttymd_text_2 p-newttymd_mt">
						<dt data-wow-delay="0.8s" class="wow fadeInDown p-newttymd_c">在淘淘的神奇花园和伙伴玩在一起</dt>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							在剧情中，孩子点击屏幕与淘淘互动,
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							一起做蛋糕，还可把蛋糕送给小伙伴们，
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							在游戏中学会协作与分享，还有更多剧情等待孩子去发现。
						</dd>
					</dl>
					<div data-wow-delay="0.8s" class="wow fadeInUp p-newttymd_tlist" style="margin-top: .2rem;">
						<span>互动式玩中学</span><br>
						<span style="margin-left: 0;margin-top: .2rem;">培养优秀品格</span><br>
						<span style="margin-left: 0;margin-top: .2rem;">锻炼空间感知力</span>
					</div>
				</div>
			</div>
			<div class="p-newttymd-box4">
				<div class="p-newttymd_w">
					<dl class="p-newttymd_text page-newttymd_text_1 p-newttymd_mt">
						<dt data-wow-delay="0.8s" class="wow fadeInDown p-newttymd_c">这是AR技术和绘本联手施展的奇妙魔法</dt>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							传统绘本图书结合AR技术
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							书中的故事场景以3D立体动画呈现
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							打造一个身临其境的童话世界
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							孩子还可与屏幕上的3D角色一起互动玩耍
						</dd>
					</dl>
					<div data-wow-delay="0.8s" class="wow fadeInUp p-newttymd_tlist p-newttymd_tlist_1" style="margin-top: .2rem;">
						<span>AR增强现实技术</span>
						<span>沉浸式阅读体验</span>
						<span>故事场景3D立体呈现</span>
					</div>
				</div>
			</div>
			<div class="p-newttymd-box5">
				<div class="p-newttymd_w">
					<dl class="p-newttymd_text page-newttymd_text_2 p-newttymd_mt">
						<dt data-wow-delay="0.8s" class="wow fadeInDown p-newttymd_c">每一场童话之旅都由孩子亲手创造</dt>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							每册绘本都附赠多彩涂色卡，
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							孩子可以为每个故事角色自由配色，描绘属于自己的童话人物。
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							通过AR技术替换绘本中的原始角色，
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							创造属于孩子自己的童话故事。
						</dd>
					</dl>
					<div data-wow-delay="0.8s" class="wow fadeInUp p-newttymd_tlist" style="margin-top: .2rem;">
						<span>AR涂色卡</span>
						<span>孩子专属童话世界</span>
						<span>激发无穷创造力</span>
					</div>
				</div>
			</div>
			<div class="p-newttymd-box6">
				<div class="p-newttymd_w">
					<dl class="p-newttymd_text page-newttymd_text_1 p-newttymd_mt">
						<dt data-wow-delay="0.8s" class="wow fadeInDown p-newttymd_c">专业双语朗读<br>孩子语言表达能力从小培养</dt>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							孩子正处于语言发展期，双语朗读的绘本
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							结合美妙声音，培养孩子语言表达能力
						</dd>
					</dl>
				</div>
			</div>
			<div class="p-newttymd-box7">
				<div class="p-newttymd_w">
					<dl class="p-newttymd_text page-newttymd_text_2 p-newttymd_mt">
						<dt data-wow-delay="0.8s" class="wow fadeInDown p-newttymd_c">随时随地亲子互动<br>陪伴孩子更好成长</dt>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							随时随地扫一扫，AR童话世界随意切换，
						</dd>
						<dd data-wow-delay="0.8s" class="wow fadeInUp">
							全新陪读体验让陪伴更轻松，更自然。
						</dd>
					</dl>
				</div>
			</div>
		</div>
</div>
<script>
	(new WOW()).init();
</script>